/* Logo placement (top/left) */

#logo_image_top{
  display: flex;
    justify-content: center;
  height: auto;
}

#logo_image_top img{
  width: 200px;
}

#logo_image_left img{
  display: flex;
    justify-content: center;
    width: 200px
}

.cardCol{
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.display_none{
  display: none;
}

.card-body{
  flex-grow: 1;
}

.card{
  height: 50px;
}


.cardRow{
  display: flex;
}

.container-fluid{
  max-width: 90%;
}
.card-img-top{
height: 50%; /* Set the height to 50% of the container */
object-fit: cover; /* Maintain aspect ratio and cover the entire space */
border-top-left-radius: 10px;
border-top-right-radius: 10px;}

.pageTitle h1{
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.cardButton{
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
  flex-direction: column;
  border-radius: 20px;
}

.textContent{
  text-align: justify;
  font-size: 18px;
}


.card-title{
  display: flex;
  justify-content: center;
}


.card-body p{
  font-size: 16px;
  text-align: justify;
}


/* Drop Down Menu */


.navbar ul ul {
  display: none;
  position: absolute;
  top: 1.5em;
  left: 0;
  z-index: 99999;
  width:max-content;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.2);
}

.navbar ul li a{
  text-decoration: none;
}

.navbar li {
  position: relative;
}

.navbar ul li:hover ul {
  display:block;
}

.menu li a{
  color:black;
  font-weight: none;
}

.sub-menu li {
padding-bottom: 10%;
}

/* CSS for Navbar */
.menu-primary-menu-container{
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
}

.menu-primary-menu-container ul{
  display: flex;
  flex-direction: row;
  padding-left: 0;
  width: 100%;
  align-items: baseline;
  justify-content: space-between;
}

.menu-primary-menu-container ul li h6{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#menu-primary-menu li{
  display: flex;
  text-decoration: none;
}
#menu-primary-menu li h6{ 
  color: black;
  
}

#searchdiv{
  display: flex;
  border-radius: 20px;
  border-color: black;
}

#btnSearch{
  border: none;
}

#searchButton{
  border: none;
}

.border{
  border: black;
  border-radius: 10px;
}


.blockCenter{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.padding-top-bottom{
  padding-top: 50px;
  padding-bottom: 50px;
}


.footer-css{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.card-css{
  display: flex;
}

#archive-title{
  text-align: center;
  padding-bottom: 70px;
  padding-top: 50px;
}

.noPosts{
  text-align: center;
  font-size: 20px;
}

.archiveAuthor{
  border-radius: 10px;
  background: #cccccc;
  padding: 20px;
  width: 200px;
  height: 100%;
}

.courseCard{
  padding: 30px;
  color: black;
}



.coursesText h5{
  display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.card a{
text-decoration: none;
}

.pagination{
  display: flex;
  justify-content: center;
    flex-direction: row;
}


.archiveCardHeader{
  display: flex;
}

.archiveCardHeader img{
  height: auto;
  width: 200px
}

.btnfullwidth{
  display: flex;
  flex-direction: column;
}


#authorInfo{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}


.background-image-container{
  position: relative;
    background-color: rgba(0, 0, 0, 0.7); /* Dark background with 0.7 opacity */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px; /* Add rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.background-image-container img{
  width: 200px;
  height: auto;
  opacity: 100%;
}

.text-align{
  text-align: justify;
  font-size: 16px;
}

.author_desc_post{
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.author_desc_post_content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.pr_title h6{
  font-size: 32px;
  text-align: center;
  padding-bottom: 50px;
}

.aboutUsContainer{
  display: flex;
}

/* Course Categories Boxes */

.course-category-boxes {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  flex-wrap: wrap; /* Allow boxes to wrap to the next line if they don't fit */
  margin: 20px 0; /* Adjust spacing as needed */
}

/* Style for each individual category box */
.course-category-box {
  width: 200px; /* Set a fixed width or adjust as needed */
  padding: 20px;
  margin: 10px;
  border: 1px solid #ddd; /* Border color */
  border-radius: 5px; /* Rounded corners */
  text-align: center;
}

/* Style for the category box links */
.course-category-box a {
  text-decoration: none;
  color: #333; /* Link color */
  font-weight: bold;
}

/* Hover effect for the category boxes */
.course-category-box:hover {
  background-color: #f0f0f0; /* Background color on hover */
}

.wp-element-caption{
  font-size: 32px;
}

/* Course CSS */

.course {
  display: none;
}

.show {
  display: block;
}



.theme-main-menu{
  display: flex;
}

.entry-content img {
    margin: 0 0 1.5em 0;
    max-width: 100%;
    height: auto;
  }
  .alignleft, img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left;
  }
  .alignright, img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right;
  }
  .aligncenter, img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both;
  }
  .wp-caption {
    margin-bottom: 1.5em;
    text-align: center;
    padding-top: 5px;
  }
  .wp-caption img {
    border: 0 none;
    padding: 0;
    margin: 0;
  }
  .wp-caption p.wp-caption-text {
    line-height: 1.5;
    font-size: 10px;
    margin: 0;
  }
  .wp-smiley {
    margin: 0 !important;
    max-height: 1em;
  }
  blockquote.left {
    margin-right: 20px;
    text-align: right;
    margin-left: 0;
    width: 33%;
    float: left;
  }
  blockquote.right {
    margin-left: 20px;
    text-align: left;
    margin-right: 0;
    width: 33%;
    float: right;
  }
  .gallery dl {}
  .gallery dt {}
  .gallery dd {}
  .gallery dl a {}
  .gallery dl img {}
  .gallery-caption {}
  
  .size-full {}
  .size-large {}
  .size-medium {}
  .size-thumbnail {}
  
  
  /* =============================================================================
     WordPress CSS - Miscellaneous Styles 
     ========================================================================== */
  
  /* ==|== category links ===================================================== */
  li.categories {}  
  li.cat-item {}
  /* li.cat-item-{id} {} */
  li.current-cat {}
  li.current-cat-parent {}
  ul.children {}
  
  
  /* ==|== blogroll links ===================================================== */
  .linkcat {}
  .blogroll {}
  
  /* ==|== readmore links ===================================================== */
  .more-link {}
  
  
  /* =============================================================================
     WP CSS - Page Listings 
     ========================================================================== */
  
  .pagenav {}               /* outermost list item */
  .page_item {}             /* any page item */
  /* .page-item-{id} {}        specific page id */
  .current_page_item {}     /* current page */
  .current_page_parent {}   /* parent of current page */
  .current_page_ancestor {} /* any ancestor of current page */
  
  .pagenav ul,
  .pagenav .current_page_item ul,
  .pagenav .current_page_ancestor ul,
  .pagenav .current_page_ancestor .current_page_item ul,
  .pagenav .current_page_ancestor .current_page_ancestor ul,
  .pagenav .current_page_ancestor .current_page_ancestor .current_page_item ul,
  .pagenav .current_page_ancestor .current_page_ancestor .current_page_ancestor ul {}
  
  .pagenav  ul ul,
  .pagenav .current_page_item ul ul,
  .pagenav .current_page_ancestor ul ul,
  .pagenav .current_page_ancestor .current_page_item ul ul,
  .pagenav .current_page_ancestor .current_page_ancestor ul ul {}
  .pagenav .current_page_ancestor .current_page_ancestor .current_page_item ul ul, 
  .pagenav .current_page_ancestor .current_page_ancestor .current_page_ancestor ul ul {}
  
  
  /* =============================================================================
     WordPress CSS - Default WordPress Widgets 
     ========================================================================== */
  
  .widget {}
  
  /* ==|== links widget ======================================================= */
  .widget_links {}
  .widget_links ul {}
  .widget_links ul li {}
  .widget_links ul li a {}
  
  /* ==|== meta widget ======================================================== */
  .widget_meta {}
  .widget_meta ul {}
  .widget_meta ul li {}
  .widget_meta ul li a {}
  
  /* ==|== pages widget ======================================================= */
  .widget_pages {}
  .widget_pages ul {}
  .widget_pages ul li {}
  .widget_pages ul li a {}
  
  /* ==|== recent-posts widget ================================================ */
  .widget_recent_entries {}
  .widget_recent_entries ul {}
  .widget_recent_entries ul li {}
  .widget_recent_entries ul li a {}
  
  /* ==|== archives widget ==================================================== */
  .widget_archive {}
  .widget_archive ul {}
  .widget_archive ul li {} 
  .widget_archive ul li a {}
  .widget_archive select {}
  .widget_archive option {}
  
  /* ==|== tag-cloud widget =================================================== */
  .widget_links {}
  /* .widget_links li:after {} */
  /* .widget_links li:before {} */
  .widget_tag_cloud {}
  .widget_tag_cloud a {}
  /* .widget_tag_cloud a:after {} */
  /* .widget_tag_cloud a:before {} */
  
  /* ==|== calendar widget ==================================================== */
  .widget_calendar {}
  #calendar_wrap {}
  #calendar_wrap th {}
  #calendar_wrap td {}
  #wp-calendar tr td {}
  #wp-calendar caption {}
  #wp-calendar a {}
  #wp-calendar #today {}
  #wp-calendar #prev {}
  #wp-calendar #next {}
  #wp-calendar #next a {}
  #wp-calendar #prev a {}
  
  /* ==|== category widget ==================================================== */
  .widget_categories {}
  .widget_categories ul {}
  .widget_categories ul li {} 
  .widget_categories ul ul.children {}
  .widget_categories a {}
  .widget_categories select{}
  .widget_categories select#cat {}
  .widget_categories select.postform {}
  .widget_categories option {}
  .widget_categories .level-0 {}
  .widget_categories .level-1 {}
  .widget_categories .level-2 {}
  .widget_categories .level-3 {}
  
  /* ==|== recent-commments widget ============================================ */
  .recentcomments {}
  #recentcomments {}
  #recentcomments li {}
  #recentcomments li a {}
  .widget_recent_comments {}
  
  /* ==|== search widget ====================================================== */
  #searchform {}
  .widget_search {}
  .screen-reader-text {}
  
  /* ==|== text widget ======================================================== */
  .textwidget {}
  .widget_text {}
  .textwidget p {}
  
  
  /* =============================================================================
     WP CSS - Comment Styles
     ========================================================================== */
  
  .commentlist .reply {}
  .commentlist .reply a {}
  
  .commentlist .alt {}
  .commentlist .odd {}
  .commentlist .even {}
  .commentlist .thread-alt {}
  .commentlist .thread-odd {}
  .commentlist .thread-even {}
  .commentlist li ul.children .alt {}
  .commentlist li ul.children .odd {}
  .commentlist li ul.children .even {}
  
  .commentlist .vcard {}
  .commentlist .vcard cite.fn {}
  .commentlist .vcard span.says {}
  .commentlist .vcard img.photo {}
  .commentlist .vcard img.avatar {}
  .commentlist .vcard cite.fn a.url {}
  
  .commentlist .comment-meta {} 
  .commentlist .comment-meta a {}
  .commentlist .commentmetadata {}
  .commentlist .commentmetadata a {}
  
  .commentlist .parent {}
  .commentlist .comment {}
  .commentlist .children {}
  .commentlist .pingback {}
  .commentlist .bypostauthor {}
  .commentlist .comment-author {}
  .commentlist .comment-author-admin {}
  
  .commentlist {}
  .commentlist li {}
  .commentlist li p {}
  .commentlist li ul {}
  .commentlist li ul.children li {}
  .commentlist li ul.children li.alt {}
  .commentlist li ul.children li.byuser {}
  .commentlist li ul.children li.comment {}
  /* .commentlist li ul.children li.depth-{id} {} */
  .commentlist li ul.children li.bypostauthor {}
  .commentlist li ul.children li.comment-author-admin {}
  
  #cancel-comment-reply {}
  #cancel-comment-reply a {}
  
  
  /* =============================================================================
     WP CSS - body_class()
     ========================================================================== */
  
  .rtl {}
  .home {}
  .blog {}
  .archive {}
  .date {}
  .search {}
  .paged {}
  .attachment {}
  .error404 {}
  /* .single postid-(id) {} */
  /*.attachmentid-(id) {} */
  /*.attachment-(mime-type) {}*/
  .author {}
  /*.author-(user_nicename) {}*/
  .category {}
  /*.category-(slug) {}*/
  .tag {}
  /* .tag-(slug) {} */
  .page-parent {}
  /* .page-child parent-pageid-(id) {} */
  /* .page-template page-template-(template file name) {} */
  .search-results {}
  .search-no-results {}
  .logged-in {}
  /* .paged-(page number) {}
  .single-paged-(page number) {}
  .page-paged-(page number) {}
  .category-paged-(page number) {}
  .tag-paged-(page number) {}
  .date-paged-(page number) {}
  .author-paged-(page number) {}
  .search-paged-(page number) {} */
  
  
  /* =============================================================================
     WP CSS - post_class()
     ========================================================================== */
  
  .post-id {}
  .post {}
  .page {}
  .attachment {}
  .sticky {}
  .hentry {}
  .category-misc {}
  .category-example {}
  .tag-news {}
  .tag-wordpress {}
  .tag-markup {}
  .format-aside {}
  .format-gallery {}
  .format-link {}
  .format-image {}
  .format-quote {}
  .format-status {}
  .format-video {}
  .format-audio {}
  /* .format-chat {} */

